.App-header {
  background-color: #4b515e;
  min-height: 200px;
  border-bottom: 8px solid #30353f;
}

@keyframes entrance {
  from {
    opacity: 0;
    transform: translatey(-30px);
  }
}

.logo-app {
  max-width: 15rem;
  animation: entrance 2s;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

@keyframes move {
  to {
    background-position-x: -800px;
  }
}
.pokemons-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  height: 100vh;
  background: url(./assets/bg_2.png);
  background-position-y: -150px;
  background-size: cover;
  padding: 8px;
  animation: move 70s linear infinite alternate forwards;
}
