.App-header {
  background-color: #4b515e;
  min-height: 100vh;
}

@keyframes entrance {
  from {
    opacity: 0;
    transform: translatey(-30px);
  }
}

.logo-app {
  max-width: 15rem;
  animation: entrance 2s;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}
